BOT_TOKEN=PASTE_NEW_TELEGRAM_BOT_TOKEN_HERE
ADMIN_ID=5681851735
CRYPTO_PAY_TOKEN=PASTE_NEW_CRYPTO_PAY_TOKEN_HERE
CRYPTO_PAY_API_URL=https://pay.crypt.bot/api
WEBAPP_URL=https://liquidityplusbot.onrender.com/?v=3.0
REQUIRED_CHANNELS=@liquidityplus,@liquiditypluschat,@skytraded
WEBAPP_DEMO_MODE=0
